__pycache__
.ipynb_checkpoints
creds.json
contextualised_set.k1.json
contextualised_set.k2.json
entries_by_domain.json
output.jsond.temporal.k1.p4
output.jsond.temporal.k2.p4
contextualised_set_summarised.json
contextualised_set_summarised_by_domain.json
representations_compared.json
keyword_domain_demographic_breakdowns.json
differences.json
graphed_values.json
entries_by_domain_summarised.json
participating_cohort.json
contributing_activation_codes.json
participating_cohort_statistics.json