__pycache__
.ipynb_checkpoints
creds.json
mappings.json
overall_entries_by_browser_and_spoofed_machine.json
weekly_users_by_os.csv
browser_and_machine.jsond.temporal.k1
browser_and_machine.jsond.temporal.k2
weekly_users_by_os_summarised.json